@charset "utf-8";
/* CSS Document */

img {
  border:0px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}
h1 {
  color:#000;
  font-size:20px;
}
/* remove the rounded corners on the navbar*/
.navbar {
  border-top: 0px;
  border-bottom-width: medium;
  border-style: block;
  border-color: #000
}
/* change the background colour of the navbar from black */
.navbar-inverse {
  background-color:white;
  border-color: transparent;
}
/* the web site title on the navbar*/
.navbar-inverse .navbar-brand {
  color:#000;
  font-size:20px;
  font-weight:bold;
}

.navbar-brand > active > a,
.navbar-brand > active > a:hover,
.navbar-brand > active > a:focus{
  color: #000;
}

.navbar-inverse .navbar-nav > li > a {
  color: #B4B4B4;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color:#332D2D;
}
/* change the colour of the top-level menu items when clicked */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color:#332D2D;
}
/*-----------------------------------*/

.navbar-inverse .navbar-text {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #000;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color:#332D2D;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #000;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      display: block;
      width: 70%;
      height: 500px;
      margin: auto;
      padding: 0px;
  }
  .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 30px;
    color:#fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .4;
  }
	.carousel-control:hover,
	.carousel-control:focus {
    color:#FFCC00;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
  }
	.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
  }
	.carousel-indicators .active {
   width: 12px;
   height: 12px;
   margin: 0;
   background-color:#00FF00;
}

.glythRight {
  float:right;
}

body {
  margin-bottom: 50px;
}

ol {
  font: Ariel;
  font-size: 1.4em;
}

#footer{
  position:fixed;
     height:50px;
     bottom:0px;
     left:0px;
     right:0px;
     margin-bottom:0px;
		background-color: #000000;
    	border:1px solid #000000;
}

.page-text {
  font: Ariel;
  font-size: 1.4em;
}
